body {
    font-family: Arial, sans-serif;
    background-color: #fde2e2;
    color: #4a4a4a;
    margin: 0;
    padding: 0;
}

header {
    background: linear-gradient(to right, #f9a8d4, #d9a8f4);
    padding: 15px 0;
    text-align: center;
    font-size: 1.5rem;
    color: #fff;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.styled-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 1rem;
    text-align: left;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.styled-table thead tr {
    background-color: #f9a8d4;
    color: #fff;
    text-align: left;
    font-weight: bold;
}

.styled-table th, .styled-table td {
    padding: 12px 15px;
    border: 1px solid #ddd;
}

.styled-table tbody tr {
    background-color: #ffe4f3;
    transition: all 0.3s;
}

.styled-table tbody tr:hover {
    background-color: #fbd2e8;
}

/* עיצוב לדף הבית */
.welcome-section {
    text-align: center;
    padding: 80px 20px;
    background: linear-gradient(to right, #fde2e2, #d9d7f1);
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.welcome-section h1 {
    font-size: 3rem;
    color: #d291bc;
    margin-bottom: 20px;
}

.welcome-section p {
    font-size: 1.2rem;
    color: #875f9a;
    margin-bottom: 40px;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.button {
    padding: 15px 30px;
    font-size: 1rem;
    color: white;
    background-color: #d291bc;
    border: none;
    border-radius: 8px;
    text-decoration: none;
    transition: background-color 0.3s, transform 0.2s;
}

.button:hover {
    background-color: #b678a0;
    transform: scale(1.05);
}
