{% extends 'base.html' %}

{% block title %}Admin Dashboard{% endblock %}

{% block content %}
<h1>Admin Dashboard</h1>
<p>Welcome to the admin dashboard!</p>

<!-- קישור לניהול משתמשים -->
<a href="{% url 'manage_users' %}" class="button">Manage Users</a><br>

<!-- קישור לניהול ספרים -->
<a href="{% url 'manage_books' %}" class="button">Manage Books</a><br>

<!-- קישור לדוחות -->
<a href="{% url 'admin_reports' %}" class="button">View Reports</a><br>

<!-- קישור לדף הבית -->
<a href="{% url 'user_home' %}" class="button">Home</a>
{% endblock %}
