{% extends 'base.html' %}

{% block title %}Forgot Password{% endblock %}

{% block content %}
<h1>Forgot Password</h1>
<p>Enter your email to receive a reset password link:</p>


{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li style="color: green;">{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}


<form method="post" class="forgot-password-form">
    {% csrf_token %}
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required><br><br>
    <button type="submit" class="button">Send Reset Link</button>
</form>


<a href="/login/" class="button">Back to Login</a>
{% endblock %}
