{% extends 'base.html' %}

{% block title %}Your Favorite Books{% endblock %}

{% block content %}
    <h1>Your Favorite Books</h1>
    <ul>
        {% for favorite in favorites %}
            <li>
                <strong>{{ favorite.book.title }}</strong> by {{ favorite.book.author }}
                <br>
                Added on: {{ favorite.added_on|date:"d/m/Y H:i" }}
                <br>
                <a href="{% url 'remove_from_favorites' favorite.book.book_id %}" class="button">Remove from Favorites</a>
            </li>
        {% empty %}
            <li>You don't have any favorite books yet.</li>
        {% endfor %}
    </ul>

    <!-- Back to User Home Button -->
    <a href="{% url 'user_home' %}" class="button">Back to Home</a>
{% endblock %}
